<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="image-container">
              <img src="../../../assets/img/projects/remodeling-3.jpg" alt="Sample Image">
              <div class="centered-text">Les documents</div>
          </div>
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a routerLink="listDevis" class="nav-link align-middle px-0">
                          <i class="fas fa-hand-holding-dollar"></i> <span class="ms-1 d-none d-sm-inline">Devis</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="far fa-file"></i> <span class="ms-1 d-none d-sm-inline">Factures</span>
                      </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                          <li class="w-100">
                              <a routerLink="listfact" class="nav-link px-0"> <span class="d-none d-sm-inline">Payées</span> </a>
                          </li>
                          <li>
                              <a routerLink="listFacture" class="nav-link px-0"> <span class="d-none d-sm-inline">Non-Payées</span> </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fas fa-percent"></i> <span class="ms-1 d-none d-sm-inline">Offres</span>
                      </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Offre 1</span> </a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Offre 2</span> </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col py-3">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
