
<app-header-home></app-header-home>


<router-outlet></router-outlet>

<!-- Constructions Section -->
<section id="constructions" class="constructions section py-5">
  <!-- Section Title -->
    <h2 class="title">Nos Réalisations</h2>
  <div class="container">
    <div class="row gy-4">
      <!-- Card Item -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <img src="../../../assets/img/projects/remodeling-2.jpg" class="card-img-top" alt="Constructions 1">
          <img src="../../../assets/MUNTU-Habitat-symbole-blanc.png" class="logoc">

        </div>
      </div><!-- End Card Item -->

      <!-- Card Item -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <img src="../../../assets/img/projects/remodeling-3.jpg" class="card-img-top" alt="Constructions 2">
          <img src="../../../assets/MUNTU-Habitat-symbole-blanc.png" class="logoc">

        </div>
      </div><!-- End Card Item -->

      <!-- Card Item -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <img src="../../../assets/img/projects/construction-2.jpg" class="card-img-top" alt="Constructions 2">
          <img src="../../../assets/MUNTU-Habitat-symbole-blanc.png" class="logoc">

        </div>
      </div><!-- End Card Item -->
      <!-- Card Item -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <img src="../../../assets/img/constructions-4.jpg" class="card-img-top" alt="Constructions 2">
          <img src="../../../assets/MUNTU-Habitat-symbole-blanc.png" class="logoc">

        </div>
      </div><!-- End Card Item -->

      <!-- Card Item -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card h-100">
          <img src="../../../assets/img/constructions-3.jpg" class="card-img-top" alt="Constructions 3">
          <img src="../../../assets/MUNTU-Habitat-symbole-blanc.png" class="logoc">

        </div>
      </div><!-- End Card Item -->

      <!-- Card Item -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="card h-100">
          <img src="../../../assets/img/projects/remodeling-3.jpg" class="card-img-top" alt="Constructions 4">
          <img src="../../../assets/MUNTU-Habitat-symbole-blanc.png" class="logoc">

        </div>
      </div><!-- End Card Item -->

    </div>
  </div>
</section><!-- /Constructions Section -->





<app-footer></app-footer>
