<div class="devis-list-container">
  <h1 class="title">Modifier un Devis</h1>

  <div class="devis-card" *ngFor="let devis of devisList" (click)="selectedDevis = devis; openDevisModal(content)">
    <h3>{{ devis.numero }} - {{ devis.description }}</h3>
    <p><strong>Montant Total:</strong> {{ devis.montantTotal }}€</p>
    <p><strong>État:</strong> {{ devis.etat }}</p>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title">Détails du Devis</h5>
    </div>
    <div class="modal-body">
      <form *ngIf="selectedDevis">
        <div class="form-group">
          <label for="numero">Numéro</label>
          <input type="text" class="form-control" id="numero" [(ngModel)]="selectedDevis.numero" name="numero" disabled>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="selectedDevis.description" name="description">
        </div>
        <div class="form-group">
          <label for="montant">Montant Total</label>
          <input type="text" class="form-control" id="montant" [(ngModel)]="selectedDevis.montantTotal" name="montant">
        </div>
        <div class="form-group">
          <label for="etat">État</label>
          <input type="text" class="form-control" id="etat" [(ngModel)]="selectedDevis.etat" name="etat">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="saveDevis(); modal.close('Save click')">Enregistrer les modifications</button>
    </div>
  </ng-template>
</div>
