<form [formGroup]="reactiveForm" class="form-container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center text-primary">Mise à Jour des Informations</h4>

      <div class="form-group">
        <label for="designation">Désignation</label>
        <input type="text" formControlName="designation" class="form-control" id="designation" placeholder="Entrez la désignation">
      </div>

      <div class="form-group">
        <label for="lot">Lot</label>
        <input type="text" formControlName="lot" class="form-control" id="lot" placeholder="Entrez le lot">
      </div>

      <div class="form-group">
        <label for="prixFourniture">Prix Fourniture</label>
        <input type="number" formControlName="prixFourniture" class="form-control" id="prixFourniture" placeholder="Entrez le prix de fourniture">
      </div>

      <div class="form-group">
        <label for="prixUnitaire">Prix Unitaire</label>
        <input type="number" formControlName="prixUnitaire" class="form-control" id="prixUnitaire" placeholder="Entrez le prix unitaire">
      </div>

      <div class="form-group">
        <label for="unite">Unité</label>
        <input type="text" formControlName="unite" class="form-control" id="unite" placeholder="Entrez l'unité">
      </div>

      <button type="submit" class="btn btn-primary w-100" (click)="update()">
        <i class="fas fa-check-circle"></i> Mettre à jour
      </button>
    </div>
  </div>
</form>
